@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik&family=Secular+One&display=swap');

*, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000;
  background-image: url(https://i.pinimg.com/564x/51/1a/00/511a0025239510486639bfc9c4c63dcd.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: auto;
  
  /* background-image: url(./images/Ronaldo_Fenômeno-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-size: contain; */
}

main{
  padding: 20px;
  max-width: 640px;
  margin: 0 auto 64px;
}

header {
  margin-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #334155;
}

header .logo {
  display: flex;
  justify-content: start;

  margin-bottom: 24px;
}

header .logo img {
  width: 80px;
}

header h1 {
  margin-top: 18px;
  font-size: 30px;
  color: #f1f5f9;
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin-top: 24px;
  border: 1px solid #475569;
  border-radius: 6px;

  overflow: hidden;
}

.quiz-item h3 {
  padding: 16px 20px;
  color: #d7dce3;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #332b00;
}

.quiz-item h3:before {
  counter-increment: quiz-item;
  content: counter(quiz-item);

  background-color: #8f7a02;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl {
  display: grid;
  gap: 8px;
  
  padding: 20px 24px;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;

  display: flex;
  align-items: center;
  gap: 8px;

  color: #e2e8f0;
}

input {
  all: unset;
  border: 1px solid #94a3b8;
  width: 16px;
  height: 16px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  cursor: pointer;
}

input:checked {
  border: 1px solid #ffd700;
}

input:checked:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #ffd700;
}

#acertos {
  text-align: center;
  background-color: #ffd700;
  
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  padding: 0.75rem;
}
